<html>
  <head>
    
    <title>Ocelot Scoreboard</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="js/angularApp.js"></script>
    
    <style> .glyphicon-thumbs-up, .glyphicon-thumbs-down { cursor:pointer } </style>
    
  </head>
  <body ng-app="potatoNews">   
    <div class="row">
        <div class="col-md-6 col-md-offset-3">        
            <ui-view></ui-view>            
        </div>
    </div>
    
    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Ocelot Leaderboard</h1>
        </div>
        
        <table style="font-size:26px;"rules="all">
        		 <th></th>
        		 <th style="padding: 15px;">Luke</th>
        		 <th style="padding: 15px;">Bill</th>
        		 <th style="padding: 15px;">Kevin</th>
        		 <th style="padding: 15px;">Jake</th>
        		 <th style="padding: 15px;">Geoff</th>
            <tr style="padding: 40px;" ng-repeat="post in posts | filter: { deleted: false }">
                <td ng-show="post.name">
                    {{post.name}}
                </td>
                <td>
                    {{post.winsAgainstLuke}} - {{post.lossesToLuke}} - {{post.overtimeLossesToLuke}}
                </td>
                <td>
                    {{post.winsAgainstBill}} - {{post.lossesToBill}} - {{post.overtimeLossesToBill}}
                </td>
                <td>
                    {{post.winsAgainstKevin}} - {{post.lossesToKevin}} - {{post.overtimeLossesToKevin}}
                </td>
                <td>
                    {{post.winsAgainstJake}} - {{post.lossesToJake}} - {{post.overtimeLossesToJake}}
                </td>
                <td>
                    {{post.winsAgainstGeoff}} - {{post.lossesToGeoff}} - {{post.overtimeLossesToGeoff}}
                </td>
            </tr>
        </table>
            
    		<form ng-submit="enterResult()" style="margin-top:30px">
    		    <h3>Enter Results:<h3>
    				<table rules="all">
    				<tr>
    				<th style="padding: 15px;">Winner:</th>
    				<th style="padding: 15px;">Loser:</th>
    				<th style="padding: 15px;">Winner Goal Total:</th>
    				<th style="padding: 15px;">Loser Goal Total:</th>
    				<th style="padding: 15px;">Overtime:</th>
    				</tr>
    				<tr>
    				<th>
       			 <select data-ng-model="winner"
                data-ng-options="post.name for post in posts | filter: { deleted: false }">                
        		 </select>
						</th>
						<th>
       			 <select data-ng-model="loser"
                data-ng-options="post.name for post in posts | filter: { deleted: false }">                
        		 </select>
						</th>
						<th>
    					<input type="text" ng-model="winnerGoals">
						</th>
						<th>
    					<input type="text" ng-model="loserGoals">
						</th>
						<th>
    					<input type="checkbox" ng-model="overtime">
						</th>
						</tr>
						</table>
						<br>
						<button type="submit" class="btn btn-primary">Save Results</button>
    		</form>
    
    		<h2>Players</h2>
        <table style="font-size:30px;margin-left:10px">
    		<tr ng-repeat="post in posts | filter: { deleted: false }">
                <td class="glyphicon glyphicon-thumbs-down"
                ng-click="downvote(post)"></td>
                <td ng-show="post.name" ng-href="{{post.name}}" target="_self">
                    {{post.name}}
                </td>
        </tr>
        </table>
    
        <form ng-submit="addPost()"
            style="margin-top:30px">
            <h3>Add a new player:</h3>
            
            <div class="form-group">
                <input type="text" 
                    class="form-control"
                    placeholder="Name" 
                    ng-model="name">
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </script>
    <!-- end of /home template -->
    <script type="text/ng-template" id="/posts.html">
        <div class="page-header">
            <h3>
                <a ng-show="post.link" href="{{post.link}}">
                    {{post.title}}
                </a>
                <span ng-hide="post.link">
                    {{post.title}}
                </span>
            </h3>
        </div>
        
        <div ng-repeat="comment in post.comments | orderBy: '-votes'">
            <span class="glyphicon glyphicon-thumbs-up"
                ng-click="upvote(comment)"></span>
            {{comment.votes}} 
            <span class="glyphicon glyphicon-thumbs-down"
                ng-click="downvote(comment)"></span>
            - by {{comment.author}}
            <span style="font-size:20px;margin-left:10px">
                {{comment.body}}
            </span>
        </div>
        
        <form ng-submit="addComment()"
            style="margin-top:30px">
            <h3>Add a new comment</h3>
            <div class="form-group">
                <input type="text"
                    class="form-control"
                    placeholder="Comment"
                    ng-model="body">
            </div>
            <button type="submit" class="btn btn-primary">Post to {{post.title}}</button>
        </form>
    </script>
    
  </body>
</html>